@import './variables.scss';

.main {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    flex-wrap: wrap;
    gap: 1rem;

    &.sections {
        margin: 10px 0;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 300px;
        justify-content: space-around;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: .5s;
        background: #ffffff8c;
        border-radius: 10px;
        text-align: center;

        &:hover {
            background: darken($color: #a3a1a146, $amount: 50%);
        }
    }
}

.titulo {
    font-size: 1.2rem;
}

.link {
    text-decoration: none;
    transition: 2s;

    &:hover {
        border-bottom: 1px solid $black;
    }
}